/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; 
https://colorhunt.co/palette/d8e3e751c4d3126e82132c33*/
:root {
  --primary-color: #132c33;
  --secondary-color: #51c4d3;
  --tetiary-color: #ff4c29;
  --one-color: #126e82;
  --light-color: #d8e3e7;
}
body {
  background-color: var(--primary-color);
}
h1 {
  font-size: 24px;
  line-height: 28px;
  background-color: var(--secondary-color);
  opacity: 50%;
}
h2 {
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  background-color: rgb(18, 110, 130, 0.5);
}
h3 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 50px;
  line-height: 75px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
h4 {
  font-family: Roboto;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: var(--tetiary-color);
}
h5 {
  font-family: Roboto;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: var(--light-color);
}
p {
  background-color: var(--secondary-color);
  opacity: 50%;
}
img {
  padding-bottom: 10px;
}

.hero {
  background-color: rgba(3, 8, 37, 0.5);
  background-image: url(/images/under-water.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title {
  padding-top: 158px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.btn-hero {
  border: 2.5px solid rgb(216, 227, 231, 0.5);
  color: var(--light-color);
  margin: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  padding: 18px 30px;
  border-radius: 50px;
}
.contact {
  display: flex;
  justify-content: center;
}
.highlights {
  background-color: var(--primary-color);
  padding: 10px;
}
.about-summary {
  padding: 52px;
}
.about-img {
  display: block;
  margin: 0 auto;
  border-radius: 20%;
  padding: 10px;
}
.about-info {
  font-family: Roboto;
  font-size: 12px;
  line-height: 25px;
  color: #ffffff;
}
.social-icons {
  color: var(--tetiary-color);
  padding: 4px;
}
.contact-details {
  text-align: center;
  padding: 20px;
}
.gallery {
  color: #ffffff;
}
@media (max-width: 900px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 45px;
  }
  p {
    display: none;
  }
  .hero-title {
    padding-top: 76px;
  }
  .about-section {
    text-align: center;
  }
  .about-summary {
    padding: 10px 40px 0px 40px;
  }
  .about-img {
    max-width: 250px;
    display: block;
    margin: 0 auto;
    border-radius: 70% 10% 70%;
  }
}
