/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
/* https://colorhunt.co/palette/22577a38a3a557cc9980ed99 
https://colorhunt.co/palette/0204382841841f8ea300eaff/?ref=tab */
/* do custome variables*/
:root {
  --primary-color: rgba(3, 8, 37);
  --secondary-color: rgb(56, 163, 165);
  --tetiary-color: rgb(234, 130, 75);
}
body {
  background-color: var(--primary-color);
}
h1 {
  font-size: 24px;
  line-height: 28px;
  background-color: var(--secondary-color);
  opacity: 50%;
}
h2 {
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  background-color: rgba(3, 8, 37, 0.5);
  opacity: 70%;
}
h3 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 50px;
  line-height: 75px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
h4 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: var(--tetiary-color);
}
p {
  background-color: var(--secondary-color);
  opacity: 50%;
}
img {
  padding-bottom: 10px;
}

.hero {
  background-color: rgba(3, 8, 37, 0.5);
  background-image: url(/images/under-water.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title {
  padding-top: 158px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.btn-hero {
  border: 2.5px solid rgba(255, 255, 255, 0.5);
  color: white;
  margin: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  padding: 18px 30px;
  border-radius: 50px;
}
.contact {
  display: flex;
  justify-content: center;
}
.highlights {
  background-color: var(--primary-color);
  padding: 10px;
}
.about-summary {
  padding: 52px;
}
.about-img {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.about-info {
  font-family: Roboto;
  font-size: 12px;
  line-height: 25px;
  color: #ffffff;
}
.social-icons {
  color: var(--tetiary-color);
  padding: 4px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 45px;
  }
  p {
    display: none;
  }
  .hero-title {
    padding-top: 76px;
  }
}
